 .add-category--modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
     background-color: rgba(0, 0, 0); 
     background-color: rgba(0, 0, 0, 0.4);   
} 

.add-category--modal-content {
    margin-top: 15%;
}